@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-Black.otf);
}
@font-face {
  font-family: Jura;
  src: url(../fonts/Jura.ttf);
}

main {
  transition: background-color 0.5s ease;
}
.main-content.light {
  background: rgb(250, 234, 210);
}
.main-content.dark {
  background: rgb(50, 50, 50);
}
.tabs {
  margin-top: 1%;
  gap: 3%;
}
.active{
  color: #fff!important;
}
.tablinks {
  border: none;
  background-color: transparent;
  font-family: Jura;
  font-size: 30px;
  transition: color 0.5s ease;
}
.dark.tablinks {
  color: rgb(250, 234, 210);
}
.light.tablinks {
  color: rgb(50, 50, 50);
}

.grid {
  margin-top: 1%;
  margin-left: 6%;
  margin-right: 6%;
  transition: background-color 0.5s ease;
}
.light.grid {
  background: rgb(250, 234, 210);
}
.dark.grid {
  background: rgb(50, 50, 50);
}

.grid-sizer,
.grid-item {
  width: 19.3%; /* Это не установит равные колонки, а только изменит ширину элементов */
}

.grid-item {
  float: left;
  margin-bottom: 0.5%; /* Добавим отступ между элементами сетки */
}

.grid-item img {
  display: block;
  max-width: 100%;
  height: auto; /* Для корректного отображения изображений */
}

/*----------------video content--------------*/
#videos {
  margin-top: 1%;
}
.video-item {
  margin-top: 2%;
  width: 21%;
}
.video-preview-container {
  position: relative;
  cursor: pointer;
  left: 5%;
}
.video {
  display: none !important;
  width: 90% !important;
  height: auto;
  top: 0;
  border-radius: 25px;
}
.video-preview {
  width: 90%;
  height: auto;
  border-radius: 5px;
}
.video-info {
  margin-top: 10px;
}

.video-info img {
  width: 10%;
  height: 1%;
  border-radius: 50%;
  margin-right: 3%;
  margin-top: 4%;
}

.author-name {
  transition: color 0.5s ease;
}
.light.author-name {
  font-size: 20px;
  font-weight: bold;
  font-family: Jura;
  color: rgb(41, 41, 41);
}
.dark.author-name {
  font-size: 20px;
  font-weight: bold;
  font-family: Jura;
  color: rgb(250, 234, 210);
}

.video-description {
  transition: color 0.5s ease;
}
.dark.video-description {
  font-family: Jura;
  font-size: 19px;
  line-height: 1.2;
  max-height: 2.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 90%;
  color: rgb(250, 234, 210);
}
.light.video-description {
  font-family: Jura;
  font-size: 19px;
  line-height: 1.2;
  max-height: 2.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 90%;
  color: rgb(41, 41, 41);
}

/*----------------album content--------------*/
.album-info {
  margin-top: 2%;
  margin-left: 5%;
}
.album-info img {
  width: 10%;
  height: 1%;
  border-radius: 50%;
  margin-right: 2%;
  margin-top: 2%;
}

.album-description {
  transition: color 0.5s ease;
}
.dark.album-description {
  font-family: Jura;
  font-size: 21px;
  line-height: 1.2;
  max-height: 2.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 100%;
  font-weight: bold;
  color: rgb(250, 234, 210);
  margin-right: 8%;
}
.light.album-description {
  font-family: Jura;
  font-size: 21px;
  line-height: 1.2;
  max-height: 2.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 100%;
  font-weight: bold;
  color: rgb(41, 41, 41);
  margin-right: 8%;
}

.album-author-name {
  transition: color 0.5s ease;
}
.light.album-author-name {
  font-size: 20px;
  font-weight: bold;
  font-family: Jura;
  margin-right: 20%;
}
.dark.album-author-name {
  font-size: 20px;
  font-weight: bold;
  font-family: Jura;
  color: aliceblue;
  margin-right: 20%;
}

.item-album {
  width: 15%;
  margin-right: 2%;
  margin-top: 1%;
}
.img-album {
  border-radius: 25px;
}

#albums {
  margin-top: 2%;
}
